.footer{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-weight: 100;
    color: white;
    padding: 0 20% 0 20%;
}
.footer_logo_text{
    font-size: 18px;
    text-align: center;
}
.footer_text{
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
}