@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    color: black;
    padding: 5px 0;
    z-index: 2;
}

.header_logo_text{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header_logo{
    height: 42px;
    width: 55px;
    margin-top: -10px;
}

.logo_full{
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}